<!DOCTYPE html>
<head>
    <button onclick="window.location.href='./tournament';">Back to Tournament</button>
    <button onclick="window.location.href='./team/addTeam';">Add Another</button>
    <h1>Team Added!</h1>
</head>
<body>
    <div>
        <ul>
            <h2 style="display: inline;">{{ team_data.team_name }}</h2>
            <br>
            <h2 style="display: inline;">{{ team_data.school_name }}</h2>
            <br>
            <h2 style="display: inline;">{{ team_data.year_founded }}</h2>
            <br>
        </ul>
    </div>
</body>
</html>