<!DOCTYPE html>
<head>
    <button onclick="window.location.href='./tournament';">Back to Tournament</button>
    <h1>You've already entered 8 teams, time to play the tournament!</h1>
</head>
<body>
    <div>
        <ul>
            <h2 style="display: inline;">Try going back to the tournament section and simulate the tournament!</h2>
            <br>
            <br>
            <h2 style="display: inline;">I wonder who's going to win...</h2>

        </ul>
    </div>
</body>
</html>