<!DOCTYPE html>
<head>
   <img src="{{ url_for('static', filename='frozenfour.png') }}" alt="Frozen Four Image" width="500" height="400" style="display: block; margin: 0 auto;">
</head>
<body>
    <div>
        <button style="display: block; margin: 0 auto;" onclick="window.location.href='./tournament';">Start Tournament</button>
        <br>
        <button style="display: block; margin: 0 auto;" onclick="window.location.href='./history';">View History</button>
        <br>
        <button style="display: block; margin: 0 auto;" onclick="window.location.href='./credits';">Credits</button>
    </div>
</body>
</html>